body {
	align-items: center;
	height: 100vh;
	justify-content: center;
        font-family: monospace;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#center {
	align-items: center;
	color: darkslategrey;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 1.5;
	pointer-events: none;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	z-index: 1;
}

span {
	font-size: 3em;
	margin: 0 .5rem;
}

#titletext {
	color: darkslategrey;
	line-height: 0.5;
	font-size: 20;
}

#titletext:hover{
	color: red;
}

.navbar_link:hover{
	font-weight:bold;
	text-decoration: none;
	color: black;
	font-weight: 800;
}

.navbar_link {
	text-decoration: none;
	text-align: right;
	color: darkslategrey;
	font-weight: 400;
}

.navbar {
	vertical-align: text-top;
	right: 0;
	display: inline;
	margin-right: 50px;
	letter-spacing: 2px;
}
